general:
    build_dir: ./
checkout:
    post:
        - git submodule sync
        - git submodule update --init
dependencies:
    pre:
        - npm install
test:
    override:
        - npm test